<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <form>
            <p>Hi,</p>
            <p>Thanks for signing up for our service. Please click the following link to verify your email address:</p><br>
            <a
               style = "margin-top: 1rem;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    font-size: 1rem;
                    text-decoration: none;
                    background: #0275d8;
                    color: white;">
                이메일 인증하기
            </a>
            <p>Thanks!</p>
        </form>
    </body>
</html>