<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Main</title>
    </head>
    <body>
        Main페이지를 제외하고 되도록 모든 페이지는 각자 폴더를 만들어서 관리
        해주세용
        <br />
        port는 8080으로 설정해놨습니다.
        <br />
        현재 확인한 바로는 500에러를 제외하고 404에러류는 발생하지 않는 것으로
        확인되었습니다 만 본인 코드에 문제가 있을 경우에는 즉시 알려주세요
        <br />
        젠킨스 웹훅 테스트 버전 1.7
    </body>
</html>
