<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form method="post" action="/user/login">
            <input type="email" name="email" value="" placeholder="example@email.com"> <br>
            <input type="password" name="password" value="" placeholder="password"> <br>
            <input type="submit" value="로그인">
        </form>
    </body>
</html>

<script>
    // url을 받고 msg을 보고 alert을 띄우는 코드
    var url = new URL(window.location.href);
    var msg = url.searchParams.get("msg");
    if (msg != null) alert(msg);
</script>
