<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
    <form action="/namu/create" method="post">
        <textarea name="title"></textarea>
        <textarea name="content"></textarea>
        <button type="submit">제출</button>
    </form>
    <form id="delete_form" action="/namu/create/namuToWord" method="post">
        <textarea name="start"></textarea>
        <textarea name="limit"></textarea>
        <button type="submit">제출</button>
    </form>
    <form action="/namu/exceptNamu/2" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <button type="submit">출제</button>
    </form>
    <form action="/namu/414" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <button type="submit">출제</button>
    </form>
</body>
</html>