<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <style>
        #headTitle { text-align: center }
    </style>
</head>
<body>
<section>
    <h1 id="headTitle">게시판</h1>
    <hr color="black" size="5px">
</section>

<table border="1">
    <caption><strong>게시글 목록</strong></caption>
    <thead>
    <tr>
        <th>번호</th><th>제목</th><th>내용</th><th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${boardlist}">
        <td th:text="${b.articleId}"></td>
        <td th:text="${b.title}"></td>
        <td th:text="${b.content}"></td>
        <td th:text="${b.created}"></td>
    </tr>
    </tbody>
</table>
<br>
<!--<form method="get" action="/board/write">-->
    <div>
        <a href="/board/write">
            <input type="button" value="글쓰기">
        </a>
    </div>
</form>

</body>
</html>

